body{
    background-color: #e5e5e5;
}

header{
    height: 6em;
    padding: 2em;
}

.contenedor-buscador{
    margin-bottom: 10px;
}

#icon-search{
    background-color: #fff;
    color: #fab848;
    padding: 12px;
    border-radius: .25em;
    border: none;
    margin-right: -7px;
}

#buscador{
    color: coral;
    border: none;
}

.new-contact{
    background-color: #fab848;
    color: #fff;
}

.new-contact:hover{
    background-color: #c07b04;
}

.new-contact i{
    margin-right: 10px;
}

.btn-eliminar{
    margin-left: 3%;
    margin-top: 22px;
    color: #fff;
}

.img_user{
    width: 6em;
    height: 6em;
    border-radius: 100%;
}

.descripcion{
    width: 70%;
}

.text{
    border-left: 1px solid #ebebeb;
}

.name p:hover{
    color: #fab848;
    cursor: pointer;
}

.name h6{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-left: 12px;
}

/*modal*/
#modalLabel{
    font-weight: bold;
}

.modal-body{
    background-color: #f9f9f9;
}

.btn-guardar{
    background-color: #fab848;
    color: #fff;
    width: 50%;
    margin-left: 25%;
}

.btn-guardar:hover{
    background-color: #c07b04;
}

.asterisco{
    color: red;
}